.navbar {
  height: 80px;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;
      gap: 25px;

      .item {
        display: flex;
        align-items: center;
        font-size: 18px;

        &:hover {
          text-decoration: overline;
        }
      }
    }
    .center {
      font-size: 30px;
      font-weight: 800;

      span {
        color: orangered;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      & .link:hover {
        text-decoration: overline;
      }

      .icons {
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;

        .cartIcon {
          position: relative;
          span {
            font-size: 12px;
            font-weight: 600;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #2879fe;
            color: #fff;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
