.footer {
  margin: 100px 200px 20px 200px;
  border-top: 1px solid rgb(215, 215, 215);
  padding-top: 20px;

  .top {
    display: flex;
    gap: 50px;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 14px;

      h3 {
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }

      span {
        color: gray;
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin-top: 50px;

    .center {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-weight: 800;

      span {
        color: orangered;
      }

      .copyright {
        font-weight: 300;
      }
    }
  }
}
